body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #0b1326;
}

.player{
    color:white;
    width: 50%;
    text-align: center;
    margin: 10px auto;
    border: 2px solid white;
    padding: 10px 20px;
}
.player__bayern{
    border: 2px solid red;
}
.player__dortmund{
    border: 2px solid yellow;
}
.player__schalke{
    border: 2px solid royalblue;
}
